/* Main CSS */

body{
    background-color : rgb(124, 121, 121);
}
/* Header */
header{
    background-color : rgb(152, 240, 240);
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
    padding: 1px;
    width:100%;
}
/* Logo */
#logo{
    width : 85px;
    height : 65px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 1px;
    
    
}

/* Main Heading */

h1{
    color:black;
    font-family:Arial;
    font-size:40px;
    

    
}
/* Login Form */
#loginform{
    float:right;
    position:absolute;
    top: 5px;
    right: 15px;
    font-size: 16px;
    background-color:rgb(152, 240, 240);
    padding:0px;
    margin-top: 0px;
    
}
/* Headings and p tags */
h2{
    color:black;
    font-family:Arial;
}

h3{
    color:black;
    font-family:Arial;
    font-size:24px;
}

h4{
    color:black;
    font-family:Arial;
}

h5{
    color:black;
    font-family:Arial;
}

h6{
    color:black;
    font-family:Arial;
}

p{
    color:black;
    font-family:Arial;
    font-size:12px;
}
/* Main */
main{
    background-color : rgb(152, 240, 240);
    border-radius : 10px;
    margin: 2px;
    
}

/* Padding */

main p {
    padding: 10px;
}

main h3{
    padding: 10px;
}

#newsheading{
    padding:10px;
}


/* Aside */
aside{
    background-color : rgb(152, 240, 240);
    border-radius : 10px;
    margin: 2px;
    
}
/* Footer */
footer{
    background-color : rgb(152, 240, 240);
    border-radius : 10px;
    float:left;
    width:100%;
    margin: 2px;
    padding: 5px;
}
/* News */
.News{
    background-color:white;
    padding:5px;
    border: solid black;
    float: right;
    width: 100%;

}

.News2{
    background-color:lightgrey;
    padding:5px;
    border: solid black;
    float: right;
    width: 100%;
}

.NewsImg{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

/* Nav Bar and Controls */
nav{
    margin-top: 20px;
    width: 100%;
}

nav ul{
    margin:0;
    padding:0;
    overflow:hidden;
    
}

nav li{
    border:2px solid white;
    background-color:rgb(82, 80, 80);
    list-style-type:none;
    float: left;
    width: 12%;
    padding: 16px;
    width: 14%
    
    
}

nav li a{
    color:white;
    text-align:center;
    text-decoration:none;
    font-family:arial;
    
    
}
nav li:hover{
    background-color: black;
}

li:hover{
    background-color:rgb(159, 159, 236);
}

nav .active{
    background-color:rgb(104, 91, 20);
}

/* Table CSS */

table{
    font-family:arial;
    border-collapse:collapse;
    width: 100%;
    font-size: 10pt;
    
    
}

table td, table th{
    border: 2px solid #F0F0F0;
    width: 20px;
    padding: 3px;
    
}

table tr:nth-child(even){
    background-color:lightgrey;
}

table tr:nth-child(odd){
    background-color:darkgrey;
}

table tr:hover{
    background-color:gold;
}

table th{
    color:black;
    background-color:rgb(159, 159, 236);
    border: solid;
    border-color: white;
    text-align: center;
}

/* Column Settings */

.left-col{
    float:left;
    width:64%;
}

.right-col{
    float:right;
    width:30%;
}

/* Twitter Integraded */

.twitter-Timeline{
    margin-right: 5px
}

.twit .twitter-timeline{
    width: 50%;
    padding: 20px;
}



/* Image Carousel */
.d-block{
    height: 500px;
    width: 500px;
    margin-right: 60%;
    margin-left: 20%;
    
    
}

#carouselExample{
    width: 600px;
    height: 500px;
    text-align: center;
    /*margin-left: 20%;
    margin-right: 60%;*/
    float: left;
}

.carousel-control-next{
    background-color:black;
    margin-right: -14%;
    opacity: 0.2;
     
}
.carousel-control-prev{
    background-color:black;
    margin-left: 5%;
    opacity: 0.2;
}

/* Image Gallery */

.galleryimg{
    width:100%;
    margin-top: 10px;
}



/* Form CSS */

.form{
  padding: 2px  
}

form{
    padding: 5px;
    background-color:rgb(152, 240, 240);
}

legend{
    font-family: arial;
    border-radius: 0%;
    border-color: rgb(152, 240, 240);
    
}

input{
    padding:5px;
    margin-bottom: 10px;
}

label{
    font-family: Arial;
    padding:5px;
    margin:5px;
}

header-input{
    float: right;
    margin:10px;
    
}

.filters button{
    font-size:20px;
}

.filters button:hover{
    background-color: gold;
}

fieldset{
    background-color: rgb(152, 240, 240);
    border-radius: 0%;
}

/* Youtube Vid CSS */

.yt{
padding: 20px;
margin-bottom: 2px;
}


