body{
    background-color : rgb(252, 6, 6);
}

header{
    background-color : rgb(146, 14, 235);
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
    padding : 5%;
    margin : 5%;
    border : 3px;
}

h1{
    color:black;
    font-family:Arial;
    font-size:40px;
    text-align:center;
}

h2{
    color:black;
    font-family:Arial;
}

h3{
    color:black;
    font-family:Arial;
    font-size:24px;
}

h4{
    color:black;
    font-family:Arial;
}

h5{
    color:black;
    font-family:Arial;
}

h6{
    color:black;
    font-family:Arial;
}

p{
    color:black;
    font-family:Arial;
    font-size:12px;
}

main{
    background-color : rgb(211, 23, 228);
    border-radius : 10px; 
}

aside{
    background-color : rgb(211, 23, 228);
    border-radius : 10px;
}

footer{
    background-color : rgb(211, 23, 228);
    border-radius : 10px;
}

nav li{
    border:2px solid white;
    background-color:lightgrey;
    list-style-type:none;
    
}

nav li a{
    color:black;
    text-align:center;
    text-decoration:none;
    font-family:arial;
    
}

li:hover{
    background-color:rgb(211, 23, 228);
}

.active{
    background-color:blue;
}

table{
    font-family:arial;
    /*border-collapse:collapse;*/
    border : 20px;
    
}

table td, table th{
    border: 2px solid #F0F0F0;
}

table tr:nth-child(even){
    background-color:lightgrey;
}

table tr:nth-child(odd){
    background-color:darkgrey;
}

table tr:hover{
    background-color:blue;
}

table th{
    color:white;
    background-color:rgb(159, 159, 236);
    border: 3px solid;
}


